@media screen and (min-width: 1440px) {
  .background__image {
    background: url(../images/pattern-background-desktop.svg) no-repeat
      center/cover;
    position: absolute;
  }

  .container {
    width: 500px;
  }
}
